html {
    font-family: Trebuchet MS, sans-serif;
    background-color: white;
}

/*
// Author: ABHIJEET ROY (45673535)
// ITEC649 Web Technology Assignment #1
// Designing a online shop website.
// The index.html file has been provided by the faculty and cannot be modified.
// Helping Ref: w3school.com
*/

@viewport {
    width: auto;
}


* {
    box-sizing: border-box
}

body {
    background: white;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/***************************** 1. Header (Starts) ********************************/
header {
    width: 100%;
}

header h1 {
    background: #222;
    color: white;
    font-size: 1.2em;
    line-height: 60px;
    margin: 0 auto;
    padding-left: 150px;
    position: fixed;
    text-transform: uppercase;
    top: 20px;
    width: 100%;
    z-index: 2;
}

/*====================  1.1: My Account, View Cart & Promo Part (Starts) =====================*/

.account-menu {
    background: #eee2dc;
    color: #222;
    font-size: 80%;
    height: 20px;
    line-height: 20px;
    margin: auto;
    padding-left: 25%;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.account-menu ul {
    height: 20px;
    position: fixed;
    right: 0;
    top: 0;
}

.account-menu {
    height: 20px;
    position: fixed;
    right: 0;
    top: 0;
}

.account-menu li {
    float: left;
    list-style: none;
}

.account-menu a {
    color: #222;
    display: block;
    margin: 0 10px auto;
    text-decoration: none;
}

#promo {
    background: white;
    color: #222;
    font-size: 80%;
    height: 20px;
    line-height: 20px;
    margin: 0px 0px 0 0;
    position: fixed;
    z-index: 2;
}

#promo ul {
    position: fixed;
    right: 0;
    top: 0;
    height: 20px;
    margin-right: 25%;
}

#promo {
    height: 20px;
    position: fixed;
    right: 0;
    top: 0;
}

#promo li {
    float: left;
    list-style: none;
}

#promo a {
    color: #222;
    display: block;
    margin: -13px 10px auto;
    text-decoration: none;
}

/*==================== 1.1: My Account, View Cart & Promo Part (Ends) =====================*/

/*==================== 1.2: Company Logo & Navigation (Starts) ========================*/
.menu {
    background: #222;
    color: white;
    position: fixed;
    height: 60px;
    line-height: 60px;
    padding-right: 150px;
    right: 0;
    top: 4px;
    z-index: 2;
}

.menu li {
    float: left;
    list-style: none;
}

.menu a {
    color: white;
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

#sale a {
    color: #f4511e;
    font-family: "Times New Roman", Times, serif;
    font-size: 130%;
    font-weight: bolder;
}

/*==================== 1.2: Company Logo & Navigation (Ends) ========================*/

/*==================== 1.3: Search Bar (Starts) ========================*/
#product-search-form {
    display: inline-block;
}

#product-search-form {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 110px 0 -90px; /*Change the Upper empty space size*/
    text-align: center;
}

#product-search-form input {
    background: #f1f1f1;
    border: 1px solid grey;
    border-bottom-left-radius: 10px;
    float: left;
    font-size: 17px;
    padding: 10px;
    text-transform: capitalize;
    width: 30%;
}

.searchbutton {
    background: #e8a873;
    border: 1px solid grey;
    border-bottom-right-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    width: 5vw;
}

.searchbutton:hover {
    background: #f4511e;
}

input[type="submit"] span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

input[type="submit"] span:after {
    content: '\00bb';
    opacity: 0;
    position: absolute;
    right: -20px;
    top: 0;
    transition: 0.5s;
}

/*==================== 1.3: Search Bar (Ends) ========================*/

/*************************** 1: Header (Ends) **************************************/

/************************ 2: Content (Featured Image, Special Offer, Product Images, Promotional Page) (Starts) ******************************/
.content {
    margin: 0px auto;
    padding-top: 100px;
    width: 85%;
}

.content p {
}

/*================= 2.1: Featured Image (Starts) ================*/
.featured {
}

.featured h2 {
    background: rgb(244, 81, 30);
    background: radial-gradient(circle, rgba(244, 81, 30, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border-radius: 5px;
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.featured .description {
    text-align: center;
}

.featured img {
    backface-visibility: hidden;
    border-radius: 8px;
    border: 1px solid #ccc;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    padding: 6px 6px;
    transition: .5s ease;
    max-width: 100%;
}

.product-detail .inventory, .product-detail .cost, .product-detail .cart {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.inventory, .cost {
    display: inline-block;
    padding: 7px;
}

input[type="submit"] {
    background-color: #f4511e;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 0.7vw;
    height: 30px;
    margin: 5px;
    padding: 0.3vw;
    text-align: center;
    transition: all 0.5s;
    width: 80px;
}

input[type="number"] {
    border-radius: 4px;
    height: 30px;
    width: 80px;
}

input[type="submit"]:hover span {
    padding-right: 20px;
}

input[type="submit"]:hover span:after {
    opacity: 1;
    right: 0;
}

/*================= 2.1: Featured Image (Ends) ================*/


/*================= 2.2: Special Offers (Starts) ================*/
#special-offer {

}

#special-offer a {
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    padding-right: 7px;
    font-weight: bold;
}

#special-offer p {
    background: rgb(244, 81, 30);
    background: radial-gradient(circle, rgba(244, 81, 30, 1) 0%, rgba(255, 255, 255, 1) 100%);
    border-radius: 4px;
    color: white;
    line-height: 30px;
    text-align: center;
    width: 100%;
}

/*================= 2.2: Special Offers (Ends) ================*/


/*================= 2.3: Product Images (Starts) ================*/
.productlist .inventory {
    float: left;
}

.productlist .cost {
    float: right;
}

.productlist form {
    float: left;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    float: left;
    padding: 0 6px;
    width: 33.33333%;

}

.product:hover {
    background: rgb(255, 213, 138);
    background: radial-gradient(circle, rgba(255, 213, 138, 1) 0%, rgba(193, 247, 255, 1) 100%);
    border: 1px solid #777;
    color: #f4511e;
}

.product h2 {
    font-size: 1vw;
}

.product a, .product h2 {
    color: #e8a873;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.product h2 a:hover {
    color: #f4511e;
}

.product img {
    border-radius: 5px;
    display: block;
    height: auto;
    width: 100%;
}

.product .cart {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.product input[type="number"] {
    border-radius: 4px;
    height: 1.5vw;
    margin-top: 0.5vw;
    max-width: 35px;
}

.product input[type="submit"] {
    height: 1.5vw;
    max-width: 80px;
}

/*================= 2.3: Product Images (Ends) ================*/


/*================= 2.4: Promotional Page (Starts) ================*/
#promotional-text {
    border: 1px solid gray;
    float: left;
    margin: 10px auto;
    padding: 0px;
    letter-spacing: 3px;
    text-align: center;
    text-indent: 50px;
}

#promotional-text p {
    font-family: "Verdana", sans-serif;
    font-size: 12px;
}

#promotional-text a {
    text-decoration: none;
    color: #f4511e;
}

/*================= 2.4: Promotional Page (Ends) ================*/
/*********************** 2: Content (Featured Image, Special Offer, Product Images, Promotional Page) (Ends) ***************************/


/**************** Table *****************/
table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 20px;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

.product_details_table th, td {
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

/**************** Table *****************/

/************************************ 3: Footer (Starts) ********************************************/

footer {
    background: #222;
    color: #e8a873;
    float: left;
    height: 150px;
    margin-top: 40px;
    position: sticky;
    width: 100%;
}

footer p {
    color: white;
    font-size: 0.7em;
    line-height: 70px;
    letter-spacing: 1px;
    margin-top: 40px;
    padding-left: 10%;
    text-transform: capitalize;
    width: 50%;
}

#signupform {
    margin: 0px 0 0px 10%;
}

#signupform input {
    background: #f1f1f1;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 13px;
    margin-left: 10px;
    padding: 4px;
    text-transform: capitalize;
}

#signupform button {
    background: #e8a873;
    border: 1px solid grey;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    padding: 4px;
    text-align: center;
}

#signupform span, #signupform input, #signupform button {

}

.social {
    float: right;
    width: 50%;
}

footer li {
    display: inline;
}


footer a, footer h2 {
    color: white;
    font-weight: bold;
    float: left;
    text-decoration: none;
    text-align: center;
}

footer a:hover, footer h2 :hover {
    background-color: #e8a873;
}

footer h2 {
    background-color: #222;
    color: #e8a873;
    font-size: 1.5em;
    line-height: 81px;
    margin-bottom: 0;
    margin-top: -64px;
    width: 40.2%;
}

footer a {
    background-color: #222;
    font-size: 1.2em;
    line-height: 90px;
    margin-top: -89px;
    width: 20.8%;
}

/************************************ 3: Footer (Ends) ********************************************/

/*@media (max-width: 600px) {
    footer p {
        text-align: center;
        padding: 0;
        width: 100%;
    }
}
@media (max-width: 600px) {
    .social {
        width: 100%;
    }
}*/


/*========== Responsive Design Starts ==========*/
@media only screen and (max-width: 700px) {
    .product {
        width: 49.99999%;
        margin: 6px 0;
    }

    .product h2 {
        font-size: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .product {
        width: 100%;
    }

    .product h2 {
        font-size: 40%;
    }
}

/*========== Responsive Design Ends ==========*/


/*Responsive Design Starts*/
@media (max-width: 599px) {
    header {
        width: 50%;
    }

    header h1 {
        padding-left: 3%;
    }

    nav {
        width: 100%;
        top: 60px;
    }

    nav:before {
        content: '\2630';
        display: block;
        position: absolute;
        right: 3%;
        top: -50px;
        line-height: 40px;
        font-size: 1.4em;
        cursor: pointer;
    }

    nav ul {
        background: #222;
        width: 100%;
        margin: 0px;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 10px 3%;
        line-height: 20px;
        border-top: 1px solid #333;
    }
}


@media screen and (max-width: 1024px) {
    header h1 {
        padding-left: 100px;
        font-size: 1.2em;
    }

    .menu a {
        padding: 0 5px;
        font-size: 10px;
    }

    #sale a {
        font-size: 10px;
    }

    .cart input[type="submit"] {
        height: 15px;
        max-width: 50px;
    }

    .account-menu {
        padding-left: 5%;
    }
}

@media screen and (max-width: 950px) {
    header h1 {
        padding-left: 80px;
        font-size: 1.0em;
    }

    .cart input[type="submit"] {
        height: 15px;
        max-width: 50px;
    }

    .account-menu {
        padding-left: 5%;
    }

}

@media screen and (max-width: 650px) {
    header h1 {
        padding-left: 50px;
        font-size: .8em;
    }

    .cart input[type="submit"] {
        height: 1.5vw;
        max-width: 20px;
    }

    .account-menu {
        padding-left: 4%;
    }

    .account-menu a {
        font-size: 70%;
    }

    #promo a {
        font-size: 70%;
    }

    #promo ul {
        margin-right: 10%;
    }

    .menu {
        margin-right: -20%;
    }

    .menu a {
        padding-right: 0%;
    }

}

@media screen and (max-width: 480px) {
    header h1 {
        padding-left: 10px;
        font-size: 0.6em;
    }

    .cart input[type="submit"] {
        height: 1.5vw;
        max-width: 10px;
    }

    .account-menu {
        padding-left: 1%;
    }

    .account-menu a {
        font-size: 70%;
    }

    #promo a {
        font-size: 70%;
    }

    #promo ul {
        margin-right: 10%;
    }

    .menu {
        margin-right: -20%;
    }

    .menu a {
        padding-right: 0%;
    }

}