% rebase('base.html')

<div class="content">

    <h1>Current Shopping Cart contents</h1>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>
                % for item in content:
                <tr>
                    <td><a href="/product/{{!item['id']}}">{{!item['name']}}</a></td>
                    <td>{{item['quantity']}}</td>
                    <td>${{item['cost']*item['quantity']}}</td>
                </tr>
                % end
                <tr>
                    <td>Total</td><td></td><td>${{total}}</td>
                </tr>

            </tbody>
        </table>

    </div>

</div>
