html {
    font-family: Bell MT;
    background-color: #A6B0B3;
	color: #FFF;
	#padding-left: 50px;
	#padding-right:50px;
	#border: 200px;
}


header h1{
	font-family: Broadway;
	font-size: 30pt;
	text-align: center;
	color: #FFD700;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #7A7A72;
	text-align: center;
}
ul.account-menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #7A7A72;
	text-align: center;
}
li a {
	text-decoration: none;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
}
.menu li,.account-menu li{
	border-bottom: 1px solid #FFD700;
}

.menu  a, .account-menu a {
	color: #FFD700;
	display: block;
	transition: 2s background-color;
}

.menu a:hover, .account-menu a:hover {
	background-color: #DAA520;
}
div.cart {
	margin: 20px;
	float: center;
}

form#product-search-form{
	float: right;
}
button {
	color: #FFD700;
	border: none;
	background-color: #4CAF05;
	display: inline-block;
	margin: 4px 4px;
	padding: 5px 10px;
	#float: right;
	transition: 2s solid background-color;
}
button:hover {
	background-color: #4CAF50;
}

@media screen and (min-width: 600px){
	.menu li, .account-menu li {
		width: 108px;
		height: 40px;
		line-height: 40px;
		border-bottom: none;
		}
		.menu li{
			display: inline-block;
			float: left;
		}
		.account-menu li {
			display: inline-block;
		}

}
.content h2{
	color: #FFF;
	text-align: center;
}
div li a{
	color: #FFD700;
	font-size: 1em;
	display: block;
	padding: 4px;
}
div li{

	list-style-type: none;
	display: block;
	#margin:0;
	#padding:0;
}
div li{
	display:inline-block;
}
div h2 a {
	color: #FFF;
	text-decoration: none;
}
div.featured {
	text-align:center;
}
div.content{
	padding-left: 50px;
	padding-right:50px;
}
div.content img{
	width: 100%;
	height: 600px;
	#padding:0px;
	#margin:0px;
}
#special-offer {
	margin-top: 8px;
	display:inline-block;
	float: left;
	background-color: #7A7A72;
	text-align: center;
	width: 100%;
}
div.product {
	text-align: center;
    margin: 60px;
    border: 2px solid #A6B0B3;
    float: left;
    width: 300px;
}

div.product:hover {
  border: 2px solid #FFD700;
}

div.product img {
	width: 100%;
	height: 200px;
}
div.inventory{
	margin:0px;
	padding:0px;
	float: left;
}
div.cost{
	float: right;
}
#promotional-text p{
	margin: 5px;
	#height: 300px;
	float: left;
}
#input {
	color: #FFD700;
}

footer {
	margin:0px;
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #7A7A72;
	#float: bottom;
	float: left;;
}